<div class="nested-fields form-group">
  <div class="col-md-3">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name, class: "form-control" %>
  </div>
  <div class="col-md-5">
    <%= f.label :line_format %><br>
    <%= f.text_field :line_format, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :fields %><br>
    <%= f.text_field :fields, class: "form-control" %>
  </div>
</div>
